exportPattern("^[[:alpha:]]+")
import(stats)
import(ggplot2)
export(glmDIFClass)
export(glmDIFOptions)

export(TestROCClass)
export(TestROCOptions)

export(rdTTestClass)
export(rdTTestOptions)

export(ttestCorClass)
export(ttestCorOptions)

export(ordinalReliabilityClass)
export(ordinalReliabilityOptions)

export(ordinaldifClass)
export(ordinaldifOptions)

export(nonParametricIRTClass)
export(nonParametricIRTOptions)
